@page "/checkout"

<h3>Validation de la commande</h3>
<p>Merci pour votre commande ! Votre pizza sera livrée sous peu.</p>

<NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Revenir à l'accueil</NavLink>