<nav>
    <ul class="nav flex">
        <li class="nav-item">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Accueil</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/contact">Contact</NavLink>
        </li>
    </ul>
</nav>